DATABASE_URL="file:./prisma/dev2.db"
BETTER_AUTH_SECRET="change-me"
FRONTEND_URL="http://localhost:4321"
ADMIN_URL="http://localhost:5173"
UPLOAD_DIR="./uploads"
PORT="4000"
BASE_URL="http://localhost:4000"

